<!DOCTYPE html>
<html>

	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
		<link rel="Stylesheet" type="text/css" href="{{ STATIC_URL }}css.css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylebi.css">
		<title>Digital Music-Business Intelligence</title>
	</head>
<body class="bodyFonts">
	<div class="container">
		<div class="row headerColor"> 
			<div class="col-md-6">
				<a href="{% url 'main' %}">
					<img class="img-responsive img-title" src="https://s3.amazonaws.com/andresbucket/amzn_music_logo.png" atl="Amazon music logo"/>
				</a>
			</div>
			<div class="col-md-6 text-right text-uppercase">
				<h1>Business Intelligence</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12"><hr class="mainhr"></div>
		</div>
	{% block content %} 
	{% endblock %}
	<div class="row">
		<div class="col-md-12">
			<hr class="mainhr">
		</div>
	</div>

</div>
</body>
</hmtl>



