
{% extends  "base.html" %}

{% block site_wrapper %}
<div id="main" >
	<a href= "#content" class="skip_link" > Skip to main content </a>
	<div id="banner">
		<div class="user">
			
			{% if user_name.is_authenticated %} Hello {{ user_name }}!-<a href="{% url 'log_out' %}"> logout</a>

			{% else %} Hello user!- <a href="{% url 'log_in' %}"> login</a> or <a href="{% url 'register' %}"> register</a>
			
			{% endif %}
		</div>
		<div class="bannerIEPadder">
			Digital Music BI Reporting
			
		</div>
	</div>
	<div id="navigation">
		<div class="navIEPadder">
			{% include "navigation.html" %}
		</div>
	</div>
	<div id="middle">
		
	
		<div id="content">
			<a name="content"></a>
			<div class="contentIEPadder">
				{% block content %} {% endblock %}
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="footerIEPadder">
			
		</div>
	</div>
</div>
{% endblock %}
