{% extends "catalog.html" %}

{% block content %}

{% if errors %}
<p><font color="Red">Your username and password didn't match. Please try again.</font></p>
<br><br>
{% endif %}

<form method="post" action="/reporting/index/">
{% csrf_token %}

 <table style="width:400px">
<tr>
  <td>User Name:</td>
  <td><input type="text" name="usern_name"></td>
  
</tr>
<tr>
  <td>Password:</td>
  <td><input type="password" name="pwd"></td>
  
</tr>
</table> 

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}