
{%  extends "catalog.html"  %}


{% block content %}
<h2> {{ category_header }} </h2>
<br>
<form action="/reporting/{{ category }}/results">
	
	<select name="report">
		
		{% for table in tables %}
		<option value="{{ table.name }}">{{ table.description }}</option>
		{% endfor %}
		</select>
		<br><br><br>
		
		<input type="radio" name="period" value="weekly" checked="checked">Weekly
		<input type="radio" name="period" value="monthly">Monthly
		
		<br><br><br>	
		<input type="submit" value="Submit">


</form>

{% endblock %}
